body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#canvas{
  border: 2px solid black;
}

#border{
}

#code{
  margin-left: 50px;
}

canvas{
  margin-left: 15em;
}

h2{
  text-align: center;
}

#options{
  text-align: center;

}
p{
  text-align: center;
}

select{
margin-right: 15px;

}

button{
margin-left: 15px;
}
